html,
body {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.main-container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 140px;
  padding-left: 140px;
}
/* Landing Section start */
.landing-section {
  background-image: url("../images/drew-coffman-1872.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.landing-section .main-container .header img {
  width: 180px;
  margin-top: 20px;
}
.landing-section .main-container .header .nav {
  display: inline-block;
  margin-left: 32%;
  height: 10%;
  vertical-align: middle;
}
.landing-section .main-container .header ul li {
  display: inline-block;
}
.landing-section .main-container .header ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 20px 10px;
}
.section-content {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
  margin-top: 180px;
}
.section-content .first-paragraph {
  font-size: 24px;
  margin: 15px 0;
}
.section-content h1 {
  font-size: 60px;
  margin: 15px 0;
}
.section-content .last-paragraph {
  font-size: 24px;
  padding: 0 270px;
  line-height: 1.7;
  margin-bottom: 40px;
}
.section-content .btn {
  color: white;
  padding: 15px 25px;
  border-radius: 4px;
  font-size: 16px;
  text-decoration: none;
}
.section-content .first-btn {
  background-color: #8e7754;
  margin-right: 15px;
  padding-top: 18px;
  padding-bottom: 18px;
}
.section-content .second-btn {
  background-color: transparent;
  border-color: white;
  border: 2px solid white;
}
/* Landing Section end */
/* Who we are section start */
.who-we-are-section {
  padding-top: 80px;
  padding-bottom: 80px;
}
.who-we-are-section .image {
  display: inline-block;
  width: 45%;
}
.who-we-are-section .image img {
  width: 100%;
}
.who-we-are-section .info {
  display: inline-block;
  width: 50%;
  margin-left: 4%;
  height: 50%;
  vertical-align: top;
  line-height: 1.8;
  margin-top: 40px;
}
.who-we-are-section .info h2 {
  font-size: 30px;
}
.who-we-are-section .info .desc {
  color: #686868;
  margin-bottom: 40px;
}
.who-we-are-section .info ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  color: #686868;
}
.who-we-are-section .info ul li {
  margin-bottom: 15px;
}
.who-we-are-section .info ul li img {
  width: 20px;
}
.who-we-are-section .info ul li p {
  display: inline-block;
  margin: 0 20px 0 10px;
}
/* Who we are section end */
/* Our location section start */
.our-location-section {
  background-color: #f8f8f8;
  padding-top: 80px;
  padding-bottom: 80px;
}
.our-location-section .text {
  display: inline-block;
  width: 45%;
  margin-right: 4%;
  height: 50%;
  vertical-align: bottom;
  line-height: 1.8;
}
.our-location-section .text h2 {
  font-size: 30px;
}
.our-location-section .text .first-paragraph {
  color: #686868;
}
.our-location-section .text .last-paragraph {
  color: #686868;
}
.our-location-section .image {
  display: inline-block;
  width: 45%;
}
.our-location-section .image img {
  width: 100%;
}
/* Our location section end */
/* Our baking section start */
.our-baking {
  padding-top: 80px;
  padding-bottom: 80px;
}
.our-baking .heading {
  text-align: center;
  margin-bottom: 50px;
}
.our-baking .heading h2 {
  font-size: 30px;
}
.our-baking .heading .first-paragraph {
  color: #686868;
}
.our-baking .cards .card {
  width: 32%;
  float: left;
  margin-left: 20px;
  text-align: center;
}
.our-baking .cards .first-card {
  margin-left: 0;
}
.our-baking .cards .card img {
  width: 100%;
}
.our-baking .cards .card h3 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 0px;
}
.our-baking .cards .card .desc {
  color: #686868;
  font-size: 16px;
  line-height: 1.7;
}
.clear {
  clear: both;
}
/* Our baking section end */
/* Contact section start */
.contact-section {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #f8f8f8;
}
.contact-section .section-part {
  float: left;
}
.contact-section .info {
  width: 45%;
  margin-right: 5%;
  color: #686868;
  line-height: 1.8;
}
.contact-section .info h2 {
  font-size: 30px;
  color: black;
}
.contact-section .info .desc {
  margin-bottom: 20px;
}
.contact-section .info ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.contact-section .info ul li {
  margin-bottom: 20px;
}
.contact-section .info ul li img {
  width: 20px;
  margin-right: 20px;
  margin-bottom: -5px;
}
.contact-section .image {
  width: 50%;
}
.contact-section .image img {
  width: 100%;
}
.clear {
  clear: both;
}
/* Contact section end */
/* Information section start */
.info-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #403d38;
}
.info-section .part {
  width: 23%;
  float: left;
  color: #969696;
  line-height: 1.8;
  margin-right: 2%;
}
.info-section .part h3 {
  font-size: 20px;
  color: white;
  margin-top: 0;
}
.info-section .clear {
  clear: both;
}
.info-section img {
  width: 20px;
  margin-bottom: -5px;
  margin-right: 5px;
}
.info-section ul li {
  padding: 7px 0;
  border-bottom: 1px solid #9696962f;
}
.info-section ul .last-item {
  border: none;
}
.info-section ul li a {
  color: #969696;
}

/* Information section end */
/* Footer start */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #353330;
  text-align: center;
}
.footer p {
  color: #686868;
  margin-top: 30px;
  margin-bottom: 30px;
}
.footer .social img {
  width: 30px;
  margin-right: 5px;
}
/* Footer end */
